.DS_Store
node_modules
public
.deploy_git
/dist
/coverage
# Editor directories and files
.idea
/.idea/vcs.xml

# local env files
.env.*.local

# Log files
npm-debug.log*



/themes/melody/node_modules
/themes/melody/package-lock.json